.item-card {
  border-radius: 0 5px 0 10px;
  width: 90%;
  max-width: 250px;
  margin: 10 auto;
  padding: 10px 0 0 0;
  height: 200px;
  overflow: hidden;
  .card-footer {
    .button-container {
      width: 95%;
      margin: 5px auto;
      overflow: hidden;
    }
  }
  .card-content {
    position: relative;
    height: 232px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-size: cover !important;
    background-position: center !important;
  }

  .h3 {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: underline;
    color: #4f70b5;
    margin-bottom: 5px;
  }
}
