<div class="modal_holder">
  <div class="modal_header">
    <h4>Add Item.</h4>
  </div>
  <div class="modal_body">
    <form (ngSubmit)="onSubmit()" [formGroup]="addItemForm">
      <app-form-input [label]="'Name'" [control]="addItemForm.controls.name"></app-form-input>

      <app-form-textarea [label]="'Description'" [control]="addItemForm.controls.description"></app-form-textarea>
      
      <app-form-select [label]="'Category'" [control]="addItemForm.controls.category" [options]="categories"></app-form-select>

      <app-button [text]="'Add Item'" [buttonClassName]="submitButtonClass"></app-button>
    </form>
  </div>
  <div class="modal_footer"></div>
</div>
