@import '../../../../assets/partials/colors';

.navigators {
  width: 100%;

  .navigator {
    width: 40%;
    position: relative;
    display: inline-block;
    list-style-type: none;
    font-size: 14px;
    text-align: center;
    background-color: $app-white;
    cursor: pointer;
    height: 30px;
    border: 2px solid $app-light-gray;
    border-radius: 25px;
    outline: none;
    transition: none;

    &:nth-child(1) {
      margin-right: 5%;
    }

    &:hover {
      background-color: $app-light-gray;
      color: $app-white;
    }

    &.active {
      background-color: $app-light-gray;
      color: $app-white;

      &:hover {
        background-color: $app-light-gray;
        color: $app-white;
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 500px) {
  
}
