<header>
  <nav>
    <div class="nav_container icon_container">
      FinderApp
    </div>

    <div class="nav_container navigation_links_container">
      <ul class="navigation_links">
        <li class="navigation_link">items</li>
        <li class="navigation_link">manage account</li>
        <li class="navigation_link">analytics</li>
      </ul>
    </div>

    <div class="nav_container user_container">
      <div class="user">
        <div class="user_items user_name">Dominic Bett</div>
        <ul class="user_items dropdown user_options">
          <li>profile</li>
          <li>settings</li>
          <li>logout</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
