<header>
  <nav>
    <div class="nav_container icon_container">
      FinderApp
    </div>

    <div class="desktop_view nav_container navigation_links_container">
      <ul class="navigation_links">
        <li class="navigation_link">items</li>
        <li class="navigation_link">manage account</li>
        <li class="navigation_link">analytics</li>
      </ul>
    </div>

    <div class="desktop_view nav_container user_container">
      <div *ngIf="loggedInUser" class="user logged_in">
        <div class="user_items user_name"> {{ loggedInUser.username }}
          <span class="user_down_caret">&#9660;</span>
        </div>
        <ul class="user_items dropdown user_options">
          <li>profile</li>
          <li>settings</li>
          <li (click)="logout()">logout</li>
        </ul>
      </div>

      <div *ngIf="!loggedInUser" class="user logged_out">
        <app-button [text]="'Login'" [buttonClassName]="loginButtonClass"
                    [buttonHeight]="loginButtonHeight" (clicked)="navigateToLoginPage()">
        </app-button>
      </div>
    </div>
    
    <div class="mobile_view nav_container">
      <span (click)="toggleNavLinksDropdown()">|||</span>
      <ul *ngIf="displayNavigationLinks" class="navigation_links">
        <li class="navigation_link">items</li>
        <li class="navigation_link">manage account</li>
        <li class="navigation_link">analytics</li>
        <li class="navigation_link">profile</li>
        <li class="navigation_link">settings</li>
        <li (click)="logout()" class="navigation_link">logout</li>
      </ul>
    </div>
  </nav>
</header>
