/* You can add global styles to this file, and also import other style files */

@import './assets/partials/colors';

@font-face {
  font-family: HarmoniaRegular;
  src: url("./assets/fonts/HarmoniaSansProCyr-Regular.otf") format("opentype");
}

* {
  font-family: HarmoniaRegular, Verdana, cursive;
  transition: 0.5s ease-in-out;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/*---------------------------------------------/
    Displays
/---------------------------------------------*/

.hidden {
  display: none;
}

.show {
  display: block;
}

/*---------------------------------------------/
    Application Links
/---------------------------------------------*/

.link {
  text-decoration: none;
  outline: none;

  &.link-inline {
    display: inline-block;
  }

  &.link-default {
    color: $app-blue;
    padding: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  &.link-light {
    color: $app-white;
  }
}

/*---------------------------------------------/
    Application Cards
/---------------------------------------------*/

.card {
  position: relative;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 5px gray;
  .card-footer {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
  }
}
